<header>
  <h1 style="font-size: 20px">
    {{lawContent["法規名稱"]}}
    <a href="http://law.moj.gov.tw/LawClass/LawAll.aspx?PCode={{PCode}}"><img src="/assets/external.svg"></a>
    <p class="small">
      <a href="http://law.moj.gov.tw/Eng/LawClass/LawContent.aspx?PCODE={{PCode}}">{{lawContent["英文法規名稱"]}}</a>
    </p>
  </h1>
  <section id="metadata">
    <dl class="row mb-0">
        <dt class="col-sm-2">性質</dt>
        <dd class="col-sm-10">{{lawContent["法規性質"]}}</dd>

        <dt class="col-sm-2">類別</dt>
        <dd class="col-sm-10">{{lawContent["法規類別"]}}</dd>

        <dt class="col-sm-2">沿革</dt>
        <dd class="col-sm-10">
            <ul *ngIf="lawContent.updates" class="list-inline m-0">
                <li class="list-inline-item px-2">
                    <a routerLink="/laws/{{PCode}}"
                        [class]="(!date || date == lawContent['最新異動日期']) ? 'badge badge-primary' : ''"
                    >{{lawContent["最新異動日期"]}}<small>（最新）</small></a>
                </li>
                <li *ngFor="let date of lawContent.updates" class="list-inline-item px-2">
                    <a [routerLink]="['/laws', PCode, date]" routerLinkActive="badge badge-primary">{{date}}</a>
                </li>
            </ul>
            <details><pre class="m-0">{{lawContent["沿革內容"]}}</pre></details>
        </dd>

        <ng-container *ngIf="lawContent['附件']">
            <dt class="col-sm-2">附件</dt>
            <dd class="col-sm-10">
                <ol class="list-inline">
                    <li *ngFor="let annex of lawContent['附件']; index as i" class="list-inline-item mx-1">
                        <a href="{{annex}}" class="badge badge-light">{{i+1}}</a>
                    </li>
                </ol>
            </dd>
        </ng-container>
    </dl>
  </section>
</header>

<!--nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="./articles" routerLinkActive="active">所有條文</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./detail" routerLinkActive="active">詳細資料</a>
        </li>
    </ul>
</nav-->

<section>
  <h2>
    法規內容
    <small *ngIf="date && date!=lawContent['最新異動日期']">（非最新）</small>
  </h2>
  <app-loading *ngIf="!articles.length"></app-loading>
  <div class="d-lg-flex flex-row-reverse">
    <div class="col-lg-4">
        <ul class="list-unstyled">
            <li *ngFor="let chapter of chapters" class="row" [class]="chapter.type">
                <a [href]="'laws/' + PCode + '#' +chapter.raw">{{chapter.raw}}</a>
            </li>
        </ul>
        <ng-container *ngIf="lawContent.chapters">
            <hr>
            （以下測試中）
            <app-law-division [divisions]="lawContent.chapters"></app-law-division>
        </ng-container>
    </div>
    <div class="col-lg-8">
        <p>{{lawContent["前言"]}}</p>
        <ng-container *ngFor="let article of articles">
            <h3 *ngIf="article['編章節']" class="offset-2" [id]="article.structure.fragmentId">
                <span [id]="article['編章節']">{{article['編章節']}}</span>
            </h3>
            <dl *ngIf="!article['編章節']" class="row m-0">
                <dt class="col-md-2 px-0" [id]="article['條號']">{{article['條號']}}</dt>
                <dd class="col-md-10 m-0"><pre>{{article['條文內容']}}</pre></dd>
            </dl>
        </ng-container>
    </div>
  </div>
</section>
