@import '~bootstrap/scss/bootstrap.scss';
@import 'style.scss';

.App {
    > {
        header, footer {
            @extend .text-light;
            @extend .d-print-none;
            > div {
                @extend .container;
                display: flex;
                @extend .justify-content-between;
            }
        }

        header {
            @extend .bg-dark;
            height: $header-height;
            a {
                @extend .text-success;
            }
        }

        div {
            padding-bottom: 2rem;
            min-height: #{$main-height};
        }

        footer {
            @extend .bg-secondary;
            height: $footer-height;
        }
    }
}
