@import '~bootstrap/scss/bootstrap.scss';
@import './variables.scss';

#root {
  background-color: #222;
}

.App {
  @extend .container;
  padding-bottom: 1.5rem;
  background-color: $background-color;
  min-height: 100vh
}
