@import '~bootstrap/scss/bootstrap.scss';
@import 'variables.scss';

.Catalog > header {
  position: sticky;
  top: 0;
  background-color: $background-color;
  display: flex;

  .title {
    @extend .lead;
    margin-right: 1em;
  }

  .SearchBox {
    flex: 1;
    border-bottom: 1px solid #aaa;
  }

  .Catalog-amount {
    position: absolute;
    right: 1rem;
    bottom: 0;
    font-size: small;
    @extend .text-muted;
  }
}

.Catalog-list {
  margin: 0;
  padding: .5em 0 0 0 ;
  li {
    list-style-type: none;
    border-left: 2px solid #aaa;
    margin-bottom: .5em;
    padding-bottom: .25em;
    padding-left: .75em;
  }

  a {
    color: inherit;
  }

  .badge {
    margin-right: .5em;
  }
}

.CatalogItem:hover {
  background-color: #ddd;
}

.CatalogItem-link:hover {
  text-decoration: none;
}

.CatalogItem-lastUpdate {
  font-size: small;
  @extend .text-muted;
}

.CatalogItem-name {
  font-size: large;
  font-weight: bold;
}

.CatalogItem-english {
  font-size: small;
}
