@import '~bootstrap/scss/bootstrap.scss';
@import 'variables.scss';

.Law > header {
  position: sticky;
  top: 0;
  background-color: $background-color;
  z-index: 2;
  display: flex;
  align-items: flex-start;

  .Home-link {
    font-size: large;
    padding: .2rem .3rem;
  }

  .Law-title {
    @extend .lead;
    span.badge {
      margin-left: .5em;
    }
  }
}

.Law-tabContent > header {
  position: sticky;
  top: 2rem;
  background-color: $background-color;
  z-index: 2;
}

.Law-articlesAmount {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: small;
  @extend .text-muted;
}

@media (orientation: landscape) and (min-width: $container-width) {
  .Law-articlesSliderContainer {
    display: none;
  }
}

/**
 * 行動裝置橫幅時，在右方顯示直條的 slider 。
 */
@media (orientation: landscape) and (max-width: $container-width) {
  #main, .App > footer {
    padding-right: 2rem;
  }
  main {
    display: flex;
  }
  .Law-articlesSliderContainer {
    position: fixed;
    background-color: rgba($background-color, .75);
    z-index: 3;
    transform: rotate(90deg);
    transform-origin: top right;
    top: 100vh;
    right: 0;
    input {
      height: 2rem;
      width: 100vh;
    }
  }

}

@media (orientation: portrait) {
  .Law-articlesSliderContainer {
    position: sticky;
    bottom: 0;
    background-color: rgba($background-color, .75);
    input {
      height: 2rem;
      width: 100%;
    }
  }
}


.DivisionHeader {
  position: sticky;
  top: 3.6rem;
  z-index: 1;
  background: #ccc;
  display: flex;
  flex-wrap: wrap;
}

.DivisionHeader-part {
  margin-right: 1em;
}

.DivisionHeader-partNumber {
  font-size: small;
}

.DivisionHeader-partTitle {
  font-size: large;
  font-weight: bold;
}

.Article-number {
  position: sticky;
  top: 3.6rem;
  background-color: rgba($background-color, .75);

  /**
   * @see {@link http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/ }
   */
}

.Article-content {
  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .ParaList-stratum0 {
    padding-left: 2em;

    > li:not(:only-child) {
      list-style-type: upper-roman;
    }

    > li > dl > dt {
      display: none;
    }
  }

  dl {
    display: flex;
    margin-bottom: .3em;
  }

  dd {
    flex: 1;
    margin-bottom: .3em;
  }

  p {
    margin-bottom: .3em;
  }
}

ol.DivisionList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 2em;

  li {
    margin-bottom: .3em;
  }
}

.DivisionItem {
  display: flex;
}

.DivisionItem:hover {
  background-color: #eee;
}

.DivisionItem-number {
  flex: none;
}

.DivisionItem-title {
  display: inline-block;
  font-weight: bold;
  margin: 0 .5em;
}

.DivisionItem-range {
  display: inline-block;
  font-size: small;
}

.History > li {
  white-space: pre-line;
  margin-bottom: .75em;
}
