@import '~bootstrap/scss/bootstrap.scss';
@import 'variables.scss';

.Law > header {
  position: sticky;
  top: 0;
  background-color: $background-color;
}

.Law-title {
  @extend .lead;
  height: 2rem;
}

.Law-tabContent > header {
  position: sticky;
  top: 2rem;
}

.Law-articlesAmount {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: small;
  @extend .text-muted;
}

.Article-number {
  position: sticky;
}

.Article-content {
  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .ParaList-stratum0 {
    padding-left: 2em;

    > li:not(:only-child) {
      list-style-type: upper-roman;
    }

    > li > dl > dt {
      display: none;
    }
  }

  dl {
    display: flex;
    margin-bottom: .3em;
  }

  dd {
    margin-bottom: .3em;
  }

  p {
    margin-bottom: .3em;
  }
}
