@import '~bootstrap/scss/bootstrap.scss';
@import 'variables.scss';

.LawList-lastUpdate {
  font-size: small;
  @extend .text-muted;
}

.LawList-main li {
  list-style-type: none;
  border-left: 2px solid #ccc;
  margin-bottom: .75em;
  padding-left: .75em;
}

.LawList-name {
  font-size: large;
  font-weight: bold;
}
