@import '~bootstrap/scss/bootstrap.scss';
@import 'variables.scss';

.SearchBox {
  display: flex;
  align-items: center;
}

.SearchBox-inputContainer {
  flex: 1;
  margin-left: .5em;
}

.SearchBox-input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

