<header class="bg-dark text-white clearfix py-1 d-print-none">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">法規查詢</div>
      <!--div class="col-sm-4 text-right">
          <input type="search" class="form-control py-0" placeholder="還沒好的搜尋功能">
      </div-->
    </div>
  </div>
</header>

<main class="clearfix pb-5">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="bg-secondary text-white py-1 d-print-none">
  <div class="container">
    <a href="https://github.io/kong0107/mojLaw/" class="text-light">網站原始碼</a>
  </div>
</footer>
