<header class="bg-dark text-white clearfix py-1 d-print-none">
  <div class="container">
    <app-header></app-header>
  </div>
</header>

<main class="clearfix pb-5">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="bg-secondary text-white py-1 d-print-none">
  <div class="container">
    <ul class="list-inline m-0">
      <li class="list-inline-item px-3"><a href="https://github.com/kong0107/mojLaw/" class="text-light">網站原始碼</a></li>
      <li class="list-inline-item px-3"><a href="http://law.moj.gov.tw/PublicData/DevelopGuide.aspx" class="text-light">資料來源</a></li>
      <li class="list-inline-item px-3"><a href="https://github.com/kong0107/mojLawSplit/" class="text-light">資料擷取程式</a></li>
    </ul>
  </div>
</footer>
