@import '~bootstrap/scss/bootstrap.scss';

.Law-content {
  @extend .d-flex, .flex-row-reverse, .justify-content-between;
}

.Law-divisions {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: auto;
}

.Law-articles {
  dd {
    white-space: pre-wrap;
  }
}
